.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.avatar {
  width: auto;
  height: 300px;
  display: block;
  margin: auto;
}

.card {
  width: 600px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 30px;
  margin-bottom: 0;
  text-align: center;
}

.card-text {
  font-size: 17px;
  margin-bottom: 20px;
  text-align: center;
}

body {
  background-color: #f1f1f1;
}

form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: auto  ;
  margin-top: 150px;
  padding: 20px;
  width: 300px;
 }

 h2 {
  text-align: center;
 }

 input[type="email"], input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
 }

 button {
  background-color: dodgerblue;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 17px;
}

  .carousel-caption {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 40%; /* Mengubah lebar card menjadi 40% dari lebar slide */
   max-width: 300px;
}

.carousel-caption .card {
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff;
   width: 100%;
   height: 100px; /* Mengubah tinggi card menjadi 100px */
}

.carousel-caption .card-body {
   padding: 10px; /* Mengurangi padding pada card body */
}

.carousel-caption .card-title {
   font-size: 16px; /* Mengubah ukuran font card title menjadi lebih kecil */
   font-weight: bold;
   margin-bottom: 5px;
}

.carousel-caption .btn {
   font-size: 14px; /* Mengubah ukuran font button menjadi lebih kecil */
   font-weight: bold;
   color: #fff;
   background-color: transparent;
   border: 2px solid #fff;
   padding: 5px 10px; /* Mengurangi padding pada button */
   transition: all 0.3s ease;
}